.bag-header{
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(201, 200, 200) ;
}
.bag-header img{
    width: 170px;
    padding: 5px  30px;
    cursor: pointer;
}
.bag-header div img{
    width: 28px;
    height: 30px;
    padding: 0;
    
}
.bag-header p{
    font-size: 13px;
    font-weight: bold;
    color: grey;
    padding-top: 10px;
}
.bag-header div{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 30px;
    padding-top: 5px;
    
}
.bag-header div p{
    margin-bottom: 20px;
}

.bag-empty{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
}
.bag-empty img {
    width: 150px;
}
.bag-empty button{
    width: 210px;
    height: 50px;
    background: transparent;
    border: 1.5px solid #d61b60;
    border-radius: 3px;
    font-weight: bold;
    font-size: 16px;
    color: #d61b60;
    cursor: pointer;
}
.bag-footer{
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: 0.5px solid rgb(201, 200, 200);
}
.bag-footer img{
    width: 75px;
    height: 42px;

}
.bag-footer div{
    font-weight: bold;
    font-size: 13px;
}
.bag-footer a{
    text-decoration: none;
    color: rgb(24, 24, 24);
}
.bag-main{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.address{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid rgb(211, 211, 211);
    margin: 25px;
    margin-top: 0;
    padding: 12px;
    font-size: 14px;
    border-radius: 3px;
}
.address p{
    margin: 3px;
}
.address span{
    font-weight: bold;
}
.address button{
    padding: 10px;
    font-size: 11px;
    font-weight: bold;
    background: transparent;
    color: #FF3F6C;
    border: 1px solid #FF3F6C;
    border-radius: 2px;
    cursor: pointer;
}
.address button:hover{
    background: #ffe4ea;
}
.bag-offers {
    border: 1px solid rgb(211, 211, 211);
    margin: 25px;
    margin-top: 0;
    padding: 12px;
    
    font-size: 14px;
    border-radius: 3px;
}
.bag-offers div{
    font-weight: bold;
}
.convi-fee{
    margin: 25px;
    margin-top: 0;
    margin-bottom: 40px;
    padding: 12px;
    border: 1px solid rgb(211, 211, 211);
    border-radius: 3px;
    font-size: 14px;
}
.convi-fee img{
    width: 40px;
}
.convi-fee span{
    font-weight: bold;
}
.display-card{
    border: 1px solid rgb(211, 211, 211);
    margin: 25px;
    margin-bottom: 5px;
    margin-top: 15px;
}
.bag-card{
    display: flex;
    justify-content: space-between;
    margin: 25px;
    padding-bottom: 5px;
    font-size: 14px;
    border-bottom: 1px solid rgb(211, 211, 211);
    
}
.bag-card img {
    width: 190px;
    padding-right: 5px;
}
.bag-card p{
    margin: 0;
    padding-bottom: 5px;
}
.bag-card button{
    width: 30px;
    height: 30px;
    background: transparent;
    border-radius: 20px;
    border: 1px solid #FF3F6C;
    margin: 0 5px;
    cursor: pointer;
}
.bag-card button:hover{
    background: #ffe4ea;
}
.bag-prices{
    display: flex;
}
.bag-prices p{
    padding-right: 5px;

}


.total{
    display: flex;
    flex-direction: column;
    border-left: 1px solid rgb(211, 211, 211);
    padding-left: 15px;
    font-size: 14px;
    width: 40vh;
}
.total #total-all{
    display: flex;
    justify-content: space-between;
}
.total p{
   margin:5px 0 ;
}
.total button{
    margin-top: 10px;
    padding: 15px;
    color: white;
    background: #FF3F6C;
    border: 0;
    font-size: 14px;
    font-weight: bold;
    border-radius: 3px;
    cursor: pointer;
}


/* Responsive Styles */

@media (max-width: 768px) {
    .bag-header img {
        width: 120px;
        padding: 5px 10px;
      }
    
      .bag-header div {
        padding-right: 10px;
      }
    
      .bag-empty img {
        width: 100px;
      }
    
      .bag-empty button {
        width: 180px;
        height: 40px;
        font-size: 14px;
      }
      .bag-main{
        flex-direction: column;
    }
      .bag-offers,
      .convi-fee,
      .display-card {
        margin: 15px;
        padding: 10px;
        font-size: 12px;
      }
    
      .bag-card {
        flex-direction: column;
        align-items: flex-start;
        margin: 15px;
        padding-bottom: 5px;
      }
    
      .bag-card img {
        width: 100%;
        padding-right: 0;
        margin-bottom: 10px;
      }
    
      .bag-card button {
        margin: 5px 0;
      }
      .bag-footer img{
        width:0px;
      }
      
  }